.block{
    text-align: center;
}

.title__spisok{
    background-color: chartreuse;
    width: 200px;
    text-align: center;
    border-radius: 40%;
    border: solid 2px crimson;
}
.spisok{
    border: solid 2px crimson;
    width: 150px;

}

.block{
    border: solid 4px crimson;
}
.spisok__block{
    border: solid 4px cornflowerblue;
  
}